<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"/>
    <body>
        <div th:fragment="formulario_arbol" id="arbol">
    <form action="#" th:action="@{/arbol/guardar}" th:object="${arbol}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" />

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" th:field="*{tipo}" />

        <button type="submit">Guardar</button>
    </form>
</div>
        
      
    </body>
</html>
