<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}"/>
    <body>
        <div th:fragment="formulario_arbol" id="arbol">
    <form action="#" th:action="@{/arbol/guardar}" th:object="${arbol}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" />

        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" th:field="*{tipo}" />

        <button type="submit">Guardar</button>
    </form>
</div>
        <div th:fragment="arbol" id="arbol">
       <table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="arbol : ${listaArboles}">
            <td th:text="${arbol.id}"></td>
            <td th:text="${arbol.nombre}"></td>
            <td th:text="${arbol.tipo}"></td>
            <td>
                <a th:href="@{/arbol/editar/{id}(id=${arbol.id})}">Editar</a> |
                <a th:href="@{/arbol/eliminar/{id}(id=${arbol.id})}" onclick="return confirm('¿Estás seguro?')">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
 </div>
      
    </body>
</html>
